<script src="vue.js"></script>


<html>
    <div id="app">
    <p>{{ message }}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Testing dynamic binding.

        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me...</span>
        <button v-on:click = 'seen = !seen'>change visibility</button>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p> {{message}}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <div id="app-8">
        <h1 v-once>{{ title }}</h1>
        <input type="test" v-on:input="changeTitle"> </input> <!-- v-on is a directive. Arguments are after colon.-->
        <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p> <!-- Directive v-bind -->
        <hr>
        <p v-html="finishedLink"></p> <!-- Output html on the page. Note: If user can create the html, it's to be a cross-site/security issue?-->
    </div>

    <hr>
    <div id="exercise">
        <h2>Assignment 1</h2>
        <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
        <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
        <!-- 2) Output your age, multiplied by 3 -->
        <p> {{ ageTimesThree() }} </p>
        <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
        <p>Random - {{ getRandom() }}</p>
        <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
        <div>
            <img style="width:100px;height:100px" v-bind:src="owlImg">
        </div>
        <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
        <div>
            <input type="text" v-bind:value="name">
        </div>
    </div>
    <hr>

</html>



<script> 
    var appAssignment1 = new Vue({
        el: '#exercise',
        data: {
            name: 'MyNameHere',
            age: 27,
            owlImg: 'https://vignette.wikia.nocookie.net/blogclan-2/images/b/b9/Random-image-15.jpg/revision/latest?cb=20160706220047'
        },
        methods: {
            ageTimesThree: function() {
                return this.age*3;
            },
            getRandom: function() {
                return Math.random();
            }
        }
    });
    var app8 = new Vue({
        el: '#app-8',
        data: {
            title: 'Hello World',
            link: 'http://google.com',
            finishedLink: '<a href="http://google.com">Google</a>'
        },
        methods: {
            changeTitle: function(event) {
                this.title = event.target.value;
            },
            sayHello: function() {
                return this.title;
            }
        }
    });

    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });

    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                {id: 0, text: 'Vegetables'},
                {id: 1, text: 'Steak'},
                {id: 2, text: 'Carrots'}
            ]
        }
    });

    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: "This is a message"
        }
    });

    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: "VueJS is a popular javavascript library."
        },
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('');
            }
        }
    });

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Learn Javascript' },
                { text: 'second todo' },
                { text: 'third' }
            ]
        }
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Oh, well this seems to work ' +  new Date().toLocaleString()
        }
    });

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    });
</script>